<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Music Application</title>
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body ng-app="MusicApp">

<!-- Navigation -->
<nav class="topnav topelements navbar-fixed-top">
  <div class="row">
    <div class="col-md-1">Home</div>
    <div class='col-md-1' data-toggle="modal" data-target="#myModal" id="#myBtn">
    <a href="#">Add Music</a>
    </div>
  </div>
</nav>

<!-- Artist / Genre forms -->
  <div class="row top-container">
    <div class="col-md-2 col-md-offset-1">
      <div class="col-md-10 col-md-offset-1 border">
        <form class="form-inline" role="form">
          <div class="form-group">
            <h4>Artist</h4>
            <select id="artist" name="artist">
            </select>
            <h4>Album</h4>
            <select id="album" name="album">
            </select>
          </div>
        </form>
        </div>
        <div class="col-md-10 col-md-offset-1 border genre">
          <h4>Genre</h4>
        </div>
      </div>
      <section ng-view>
<!--- Music List Begin -->
 <!-- <section ng-controller="SongCtrl">  
  <div class="col-md-4 col-md-offset-2 border">
    <div class="song_container">
  <div>
      <div ng-repeat="song in songs | filter:searchSongs">
      <h1>{{song.name}}</h1>
      <h4>Performed by {{song.artist}}</h4>
      <h4>on the album {{song.album}}</h4>
      <div><button ng-click="killSong(song)">Remove</button></div>
      </div>
    </div>
  </div>
    </div>
</div>
</section> -->
<!--- Music List End -->
</section>
      <!-- Remove Button for real-time responsiveness  <button type="submit" class="btn btn-default">Filter</button> -->
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-color">Add your music</h4>
      </div>
        <div class="modal-body">
          <div class="row">
           <form name="songsform">
            <div class="col-md-2 col-offset-2">
            <span class="input-group-addon">Song Name:</span>
          </div>
            <div class="col-md-4">
              <input type="text" id="inputTitle" class="form-control" ng-model="newSong">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-offset-2">
            <span class="input-group-addon">Album:</span>
          </div>
            <div class="col-md-4">
              <input type="text" id="inputAlbum" class="form-control" ng-model="newAlbum">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-offset-2">
            <span class="input-group-addon">Artist: </span>
          </div>
            <div class="col-md-4">
              <input type="text" id="inputArtist" class="form-control" ng-model="newArtist">
            </div>
          </div>
         <div class="row">
            <div class="col-md-2 col-offset-2">
            <span class="input-group-addon">Genre: </span>
          </div>
            <div class="col-md-4">
              <input type="text" id="inputGenre" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="submitsongs" ng-click="addSong()">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!--- Footer -->

<nav class="navbar navbar-default navbar-bottom navbar-fixed-bottom footer" role="navigation">
  <div class="container">
  <div>

    <div class="col-md-6 col-md-offset-3">
        <div class="range">
         <input type="range">
         <output id="range">00:00</output>
       </div class="range">
  </div>
</div>
</div>


  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/angular-route/angular-route.js"></script>
  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/apps.js"></script>
  <script src="app/controllers/songctrl.js"></script>
  <script src="app/factories/simple_storage.js"></script>
  <script src="app/factories/get-songs.js"></script>

</nav>
</body>
</html>
  
