
#wrapper {
  width: 800px;
}

header {
  background-color: #FFB4B0;
  border: solid 2px;
  height: 50px;
  width: 795px;

}
.top_container li {
  display: inline;
  padding: 4px;
  float: left;
  
  }

.left_container{
background-color: #4DD7FA;
border: solid 2px;
width: 165px;
height: 320px;
padding:10px;
float: left;
text-align: left;


}

.left_align {
width: 45%;
float: left;
}

.right_align {
width: 50%;
float: right;
}

.clear
{
	clear: both;
}
.right_container { 
background-color: #FEFAC0;
border: solid 2px;
height: 300px;
margin: 0 0 0 200px;
text-align: left;
padding: 20px;
  
}

